<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="SystemEmail" value="slice.otp.automated@gmail.com" />
		<add key="EmailAppPassword" value="upmhsjmrkyynzixd" />
	</appSettings>

	<connectionStrings>
		<add name="SliceDbConnection"
             connectionString="Server=tcp:sqlserver-slice-jp-1.database.windows.net,1433;Initial Catalog=sqldb-slice;User ID=slice_admin;Password=SL1C3_Engine@2026;Encrypt=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>